<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtl.cypw.show.mapper.ShortageRegistrationMapper">
  <resultMap id="BaseResultMap" type="com.mtl.cypw.show.pojo.ShortageRegistration">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="register_phone" jdbcType="VARCHAR" property="registerPhone" />
    <result column="program_id" jdbcType="INTEGER" property="programId" />
    <result column="event_id" jdbcType="INTEGER" property="eventId" />
    <result column="event_price_id" jdbcType="INTEGER" property="eventPriceId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>

</mapper>