<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtl.cypw.mpm.mapper.BannerMapper">
    <resultMap id="BaseResultMap" type="com.mtl.cypw.mpm.model.Banner">
        <id column="banner_id" jdbcType="INTEGER" property="bannerId"/>
        <result column="banner_name" jdbcType="VARCHAR" property="bannerName"/>
        <result column="banner_desc" jdbcType="VARCHAR" property="bannerDesc"/>
        <result column="banner_image" jdbcType="VARCHAR" property="bannerImage"/>
        <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl"/>
        <result column="banner_type" jdbcType="TINYINT" property="bannerType"/>
        <result column="begin_date" jdbcType="TIMESTAMP" property="beginDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="is_enable" jdbcType="TINYINT" property="isEnable"/>
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder"/>
        <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId"/>
        <result column="add_date" jdbcType="TIMESTAMP" property="addDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="add_user" jdbcType="INTEGER" property="addUser"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="link_type" jdbcType="INTEGER" property="linkType"/>
        <result column="resource_id" jdbcType="INTEGER" property="resourceId"/>
    </resultMap>
</mapper>