<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtl.cypw.mpm.mapper.TheatreMapper">
    <resultMap id="BaseResultMap" type="com.mtl.cypw.mpm.model.Theatre">
        <id column="theatre_id" jdbcType="INTEGER" property="theatreId"/>
        <result column="theatre_name" jdbcType="VARCHAR" property="theatreName"/>
        <result column="theatre_address" jdbcType="VARCHAR" property="theatreAddress"/>
        <result column="theatre_content" jdbcType="VARCHAR" property="theatreContent"/>
        <result column="add_date" jdbcType="TIMESTAMP" property="addDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="add_user" jdbcType="INTEGER" property="addUser"/>
        <result column="update_user" jdbcType="INTEGER" property="updateUser"/>
        <result column="city_code" jdbcType="INTEGER" property="cityCode"/>
        <result column="is_enable" jdbcType="INTEGER" property="isEnable"/>
        <result column="theatre_image" jdbcType="VARCHAR" property="theatreImage"/>
        <result column="prepayment_amount" jdbcType="DECIMAL" property="prepaymentAmount"/>
        <result column="credit_amount" jdbcType="DECIMAL" property="creditAmount"/>
        <result column="longitude_and_latitude" jdbcType="VARCHAR" property="longitudeAndLatitude"/>
    </resultMap>

</mapper>