<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtl.cypw.stock.mapper.StockRecordMapper">
  <resultMap id="BaseResultMap" type="com.mtl.cypw.stock.model.StockRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sku_info" jdbcType="VARCHAR" property="skuInfo" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_id, serial_no, member_id, sku_info, version, enterprise_id
  </sql>
</mapper>